body {
  margin: 5px;
	padding: 0;
	border: 0;
	font-size: 14px;
  line-height: 1;
	font: inherit;
	vertical-align: baseline;
}

nav {
  font-size: 3em;
  text-align: center;
  width: 100%;
}

section {
  margin: 0 auto;
  width: 60%;
}

/* deleting h1 and h3 */
.example {
  padding: 10;
  border: 0;
  font-size: 14px;
  line-height: 1;
  font: inherit;
  vertical-align: baseline;
}

/* background is changed to white */
.element {
  background-color: #FDF0F0;
  text-align: center;
  height: 100px;
  margin: 10px;
  width: 100%;
}
.blue {
  background-color: #F26363;
}
